GOOGLE_CLOUD_PROJECT="helloai-teammy"
GOOGLE_CLOUD_LOCATION="us-central1"
GCS_BUCKET_NAME="helloai-genmedia"
VAIS_GCP_PROJECT_NUMBER="1003075616886"
VAIS_GCP_LOCATION="global"
VAIS_CATALOG_ID="default_catalog"