body {
    font-family: "Raleway", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
    background: #ffffff !important;
    color: #212529 !important;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    color: #212529;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 10px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-card .card-title {
    color: #212529;
    font-weight: bold;
}

.product-card .card-text {
    color: #6c757d;
}

.btn-primary {
    background-color: #FFD700; /* Gold */
    border-color: #FFD700;
    color: #000; /* Black text for contrast */
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #e6c300;
    border-color: #e6c300;
    color: #000;
}

footer {
    border-top: 1px solid #dee2e6;
}

footer a:hover {
    color: #FFD700 !important;
}

.model-selection.selected {
    border: 3px solid #0d6efd; /* Bootstrap primary color */
    border-radius: 5px;
}

.model-pic {
    cursor: pointer;
}