{% extends "base.html" %}

{% block title %}Generated Product - Uniglow{% endblock %}

{% block content %}
<div class="px-40 flex flex-1 justify-center py-5">
  <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex flex-wrap gap-2 p-4">
      <a class="text-neutral-500 text-base font-medium leading-normal" href="{{ url_for('index') }}">Home</a>
      <span class="text-neutral-500 text-base font-medium leading-normal">/</span>
      <a class="text-neutral-500 text-base font-medium leading-normal" href="{{ url_for('products') }}">Products</a>
      <span class="text-neutral-500 text-base font-medium leading-normal">/</span>
      <span class="text-[#141414] text-base font-medium leading-normal">Generated Product</span>
    </div>
    {% if product.image_urls.large %}
    <div class="flex w-full grow bg-neutral-50 @container p-4">
      <div
        class="w-full bg-center bg-no-repeat bg-cover aspect-[2/3] rounded-lg"
        style='background-image: url("{{ product.image_urls.large }}");'
      ></div>
    </div>
    {% endif %}
    {% if product.name %}
    <h1 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">{{ product.name }}</h1>
    {% endif %}
    {% if product.description.long %}
    <p class="text-[#141414] text-base font-normal leading-normal pb-3 pt-1 px-4">
      {{ product.description.long }}
    </p>
    {% endif %}
    <div class="flex px-4 py-3 justify-start">
      <a href="{{ url_for('add_to_virtual_try_on', image_url=product.image_urls.large, title=title) }}"
        class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#141414] text-neutral-50 text-sm font-bold leading-normal tracking-[0.015em]"
      >
        <span class="truncate">Virtual Try-On</span>
      </a>
    </div>
  </div>
</div>
{% endblock %}