{% extends "base.html" %}

{% block title %}StyleHub - Home{% endblock %}

{% block content %}
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="@container">
              <div class="@[480px]:px-4 @[480px]:py-3">
                <div
                  class="bg-cover bg-center flex flex-col justify-end overflow-hidden bg-neutral-50 @[480px]:rounded-lg min-h-80"
                  style='background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 25%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAhT1fzWT1F20QuR9Lq1ZV1FrBS6KxjwTqOQPDTRjsW9atzUOTsZOTfhRQ6WrAGZDMzjinlm7O1M6p0HBlg0rnKw2pzcbAYzqPws1gJKYoC2KF_2u9XhYgcam-5v9NBGssGdtYvTojCKKGw4cjTfcKcftWRdTrizOu4ol9R3jnRck0jlYMgD8GR4OEyv61wGCYfHDp90NLT64tbsKElE4gQmX23Lv7LD9puiTQBs6HOlnbWvRSxjKeQ-OtLu2WfDUtBoP0lBwZt6LYd");'
                >
                  <div class="flex p-4"><p class="text-white tracking-light text-[28px] font-bold leading-tight">Summer Collection</p></div>
                </div>
              </div>
            </div>
            <h2 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Featured Categories</h2>
            <div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDxcTTJRXuKNfBtdkX2cpXwRU0_Wja8N0d0Xtn_gMQ6555F-I08qbe3iEILb0yycfM_80xS29U4hr9sMGLDsbKpJICiMbQI4FIDGpKGcVMIYngPc-kTPUJHwoiZKVSOV6IzOu6VZcK9ZO_cHI4vHAiI8YBJ9aMZ36IIbSNYeuyWv4GBd-Rv1-evRmsjyS4fN-goE5Myzvb4bb6jr8jUFU8JgIiPGdolrs1xK9IZFHuyUY1NenD1womGLAinZtHy_3GKdc6Y7CQpI-gO");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Men's Fashion</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBGrN5zWk9zZwyJtUZkC1TpUR2JdHnSG4uoHHIu492x3apkhrZRuGPakzvQiXCF0AxRhm2hWQPCoWkcQ-J17rLxCRTp7cUujUG6_1v_dOZKhfoJowo21PZNQYay8Hf-nG_0qNJy2N60vZoHueTzijjBOvrhAiv3I_QqLgGZq-s4W6X4CZoJuxBysj9_AiF5-H3OCyf1plKVgIF9fFknkU5bQqoTuldLILonjE-6DeUJdSguOit-w2LNk4ApsPZjR1Gj9568g1uKduwT");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Women's Fashion</p>
              </div>
              <div class="flex flex-col gap-3 pb-3">
                <div
                  class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
                  style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAmEEYinUfGHLTEeCnkct6z9QgmaGFPFwJCWwv3QmW4Daq7dEJhOQ8GOi14c-fP4XuLv4VFjluY89sSJDQvw3ZTxi60bs2EhvJs4Y3NGkgizW77PgeHsztxanw-DbMH_2UwWg-cSxIXIQF41c9uVm5bddjwdtfz9FMz5MbjOrBUU8pUqMMosfAtG1GhyeEY0fTRGktz-vWncv3Z8BOEkFaZE5geo-VX6GwheV-KzZ7tK023SBMJFwYWCSd2_Byuz-QnBuoENxDtTH-m");'
                ></div>
                <p class="text-[#141414] text-base font-medium leading-normal">Accessories</p>
              </div>
            </div>
            <h2 class="text-[#141414] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">New Arrivals</h2>
            <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&::-webkit-scrollbar]:hidden">
              <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCGb_YB0P0Y0KxWpgXkHkJhWSfsQgRT6U7jy1EsNxsYdSifGSXcookTMOZnTVhbzPUIkU2O5j_izDh-73qouoFccg08t7akgH9xt70GGo1vWMt13Jx9st8-tfdObur8hYbJlZy12V3hyTid6epAd-p81MwICFEdlMXwEqNJRY5vpOld2s72Pvu1py0Y9ozjk2NjSbK6QV-XQohKljPrU44NSIK6D209BX7xxSAOCUwmUmHjc_5ImIqFeegpTQcUHLZ4Xztzf51URZgM");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Modern Fit Jeans</p>
                    <p class="text-neutral-500 text-sm font-normal leading-normal">Perfect for everyday wear</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBnoE2ExofTTNsks8AEgVMJSm2Nxvg4OLK321_S4a_PU2BOZbsswsmKE-dtcNAJkzwg9L7IQYHqM3R4Lm65pFWyZZcqBcczw-eSOLuvyrqqdkVAO8zl1eAIjuiOIAIi6wI-0dTPq_xXM-L371f0vMJj7ak9-CrDoLIdOmW4MPPL06K7p7hweorDONquEAYETBAayozyUiCYfAiUrtaZ4qGU2D_FdgDXKS4F2o4ug6Ih35i_Pb4MTPLjxuDfZlKGwHwXIfD61QxpZQyg");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Flowy Summer Dress</p>
                    <p class="text-neutral-500 text-sm font-normal leading-normal">Stay cool and stylish</p>
                  </div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                  <div
                    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuAS76LID3nsrUp4CEquwr2YVPZ2CvcSG3FugEf7s6qyyhPo-sBkY-P-J0sU2w4Tm4dil_MxkcyyfAbm67N1egvK5p34vOo3729GFpbgsDKYOQU_Q06UqINkGALMu-6Xd2LVlRls29k0e91A-J-ehdjcjdw29Q3mVjTKBJ-YhMXyxIZLd50JnhrBQTKf_iO2vL9NyQU_Tu1OQ7jTw5zKYrb_oBuAr3YZ3Ej7MDChogTZP1cTbH2Y1LJkLuMvKsn3y4YQSAHApjaNwU2z");'
                  ></div>
                  <div>
                    <p class="text-[#141414] text-base font-medium leading-normal">Lightweight Linen Shirt</p>
                    <p class="text-neutral-500 text-sm font-normal leading-normal">Breathable and comfortable</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}